#Создайте файл .env из копии этого файла и замените значения переменных реальными данными
SECRET_KEY=yoursecretkey
DEBUG=youdebug

NAME=yourname
USER=youruser
PASSWORD=yourpassword
HOST=yourhost
PORT=yourport